<div class="form-group">
  <label class="col-sm-4 control-label">Name</label>
  <div class="col-sm-8">
  <%= @task.name%>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">Project</label>
  <div class="col-sm-8">
  <%= @task.project.present? ? @task.project.name : 'Doesnt Have'%>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">Priority</label>
  <div class="col-sm-8">
  <%= @task.priority %>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">Status</label>
  <div class="col-sm-8">
  <%= @task.status %>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">DeadLine days</label>
  <div class="col-sm-8">
  <%= @task.deadline_days %>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-4 control-label">End date</label>
  <%= !@task.end_date.nil? ? @task.end_date.strftime("%d-%m-%y") : 'Doesnt have' %>
</div>

<%= render partial: "comments/comments", locals: {commentable: @task} %>
<%= render partial: "comments/form", locals: {commentable: @task} %>

<div class="form-actions">
  <%= link_to 'Back', tasks_path, class: "btn btn-primary btn-sm" %>
</div>
