<div class="form-group">
  <label class="col-sm-4 control-label">Name</label>
  <div class="col-sm-8">
  <%= @project.name%>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">Description</label>
  <div class="col-sm-8">
  <%= @project.description%>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">Type</label>
  <div class="col-sm-8">
  <%= @project.kind %>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-4 control-label">Start date</label>
  <%= !@project.start.nil? ? @project.start.strftime("%d-%m-%y") : 'Doesnt have' %>
</div>

<div class="form-group">
  <label class="col-sm-4 control-label">End date</label>
  <%= !@project.end.nil? ? @project.end.strftime("%d-%m-%y") : 'Doesnt have'%>
</div>


<%= render partial: "comments/comments", locals: {commentable: @project} %>
<%= render partial: "comments/form", locals: {commentable: @project} %>


<div class="row">
  <h1>Task of the project</h1>
</div>
<table class="table table-title" >
    <thead>
      <tr>
        <th>Name</th>
        <th>Project</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Deadline days</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |t| %>
        <tr>
          <td><%= (t.name.present? ? t.name :  '')%> </td>
          <td><%= (t.project.present? && t.project.name.present? ? t.project.name : '' ) %> </td> 
          <td><%= (t.priority.present? ? t.priority : '' )%> </td>
          <td><%= (t.status.present? ? t.status : '' )%> </td>
          <td><%= (t.deadline_days.present? ? t.deadline_days : 'No' )%> </td>
          <td><%= (t.end_date.present? ? t.end_date.strftime("%d-%m-%y") : '' )%> </td>
        </tr>
      <% end %>
    </tbody>
</table>

<div class="form-actions">
  <%= link_to 'Back', projects_path, class: "btn btn-primary btn-sm" %>
</div>
