<!DOCTYPE html>
<html>
  <head>
    <title>Bp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="main">
    <% if !current_user.nil? %>
      <%= render "layouts/sidenav" %>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
